/*** Product grid Section ***/
.dashbuy-section-half{
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  max-width: 95%;
  margin: auto;
  padding: 60px 0;
}
.product-grid-section .block-type-product-half-width {
  padding: 40px 20px 40px 20px;
  grid-column: span 6 / span 6;
} 
.product-grid-section .block-type-product-half-width:first-of-type{
  margin-right: 15px;
}
.product-grid-section .block-type-product-half-width:last-of-type{
  margin-left: 15px;
}
/*** ENd Product grid Section ***/

/*** Policies Section ***/
  .dashbuy-section-policies{
    padding: 20px 0;
  }
  .dashbuy-section-policies h6, .dashbuy-section-policies svg {
    color: var(--main-color);
  }
/*** End Policies Section ***/

/***
** ABOUT PAGE
 ***/

/*** PAGE BANNER ***/
.banner-section{
  margin-top: 10px;
  padding: 120px 0;
}
.banner-section .bru-background-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: var( --main-color );
  opacity: 0.93;
  transition: background-color 0.3s, border-radius 0.3s, opacity 0.3s;
  z-index: 1;
}
.banner-section .bru-full-container{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 999;
}

/***
** Responsiveness
 ***/
@media (min-width: 768px) {
 .product-grid-section .block-type-product-half-width .title-wrapper {
    -webkit-margin-start: auto;
    margin-inline-start: auto;
  }
}
@media (min-width: 768px) {
  .product-grid-section .block-type-product-half-width .wrap-product-slider {
    -webkit-margin-start: auto;
    margin-inline-start: auto;
  }
}
