{% comment %}
The contents of the page.about.liquid template can be found in /sections/page-about-template.liquid
{% endcomment %}
<div id="col-main" class="page-content page-about-us">
  {% section 'section-bru-banner' %}
  {% section 'section-custom-content' %}
  {% section 'about-custom-content2' %}
  <div id="shopify-section-about-values" class="shopify-section">
    <div class="about-section-4 padding-y60">
      <div class="about-value-heading center-content-x">
        <h2>Values</h2>
      </div>
      <div class="about-value-list">
        <div class="about-value-list-item">
          <h4><i aria-hidden="true" class="fas fa-dot-circle"></i> Integrity</h4>
        </div>
        <div class="about-value-list-item">
          <h4><i aria-hidden="true" class="fas fa-dot-circle"></i> Reliability</h4>
        </div>
        <div class="about-value-list-item">
          <h4><i aria-hidden="true" class="fas fa-dot-circle"></i> Innovation </h4>
        </div>
      </div>
    </div>
  </div>
</div>